<div class="card shadow-sm rounded-3">
  <div class="card-body">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-3">
      <h5 class="card-title mb-2 fw-bold text-center text-md-start">Pending Transportation Requests</h5>
      <button class="btn btn-primary" (click)="refresh()">
        <i class="bi bi-arrow-clockwise me-1"></i> Refresh
      </button>
    </div>

    <div class="table-responsive">
      <table class="table table-borderless align-middle">
        <thead class="fw-semibold">
          <tr>
            <th>Patient</th>
            <th>From</th>
            <th>To</th>
            <th>Date & Time</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let request of pagedRequests">
          <tr class="border-top">
            <td>
              <div class="d-flex align-items-center gap-2">
                <img [src]="request.patientImageUrl" alt="photo" class="rounded-circle" width="40" height="40" />
                <div>
                  <div class="fw-bold">{{ request.patientName }}</div>
                  <small>ID: {{ request.patientId }}</small>
                </div>
              </div>
            </td>
            <td>{{ request.pickupAddress }}</td>
            <td>{{ request.dropOffAddress }}</td>
            <td>
              {{ request.requestDate| date: 'MMM d, y' }}

              {{ request.requestDate | date: 'h:mm a' }}
            </td>
            <td class="text-warning fw-semibold">{{RequestStatus[request.status]}}</td>
            <td>
              <div class="d-flex flex-column flex-sm-row gap-2">
                <button class="btn btn-sm btn-primary" (click)="Accept(request.requestId)">
                  Accept
                </button>
                <button class="btn btn-sm btn-outline-danger" (click)="Decline(request.requestId)">
                   Decline
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <nav *ngIf="totalPages > 1" aria-label="Page navigation" class="mt-3">
      <ul class="pagination justify-content-center flex-wrap">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="goToPage(currentPage - 1)">Previous</button>
        </li>
        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
            [class.active]="currentPage === i + 1">
          <button class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="goToPage(currentPage + 1)">Next</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
